<!-- <form accept-charset="UTF-8" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

 Name: <input type="text" name="user[username]"><br>
 Email: <input type="text" name="user[email]"><br>
Password: <input type="password" name="user[password]"><br>
 <input type="submit" value="Submit">
 </form>


 <%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username) %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:email) %>
    <%= text_field_tag (:email)  %>
    <%= label_tag(:password) %>
    <%= password_field_tag (:password) %>
    <%= submit_tag("Submit") %>
  <% end %>
-->

<%= form_for @user do |f| %>
    Name: <%= f.text_field :username, placeholder: "Your name here" %><br>
    Email: <%= f.text_field :email, value: "bob@bob.com" %><br>
    Password: <%= f.password_field :password %>

    <%= f.submit "Submit" %>
  <% end %>
